.title0-contactMe::before  {
  position: absolute;
    box-sizing: border-box;
    opacity: 1;
    cursor: default;
    border-radius: 25.00px;
    font-size: 46.00px;
    font-weight: 400;
    color:  gray;
    content: "Contact Me";
  left: 60%;
  top: 5%;

}

.title1-contactMe::before  {
    position: absolute;
      box-sizing: border-box;
      opacity: 1;
      cursor: default;
      border-radius: 25.00px;
      font-size: 28.00px;
      font-weight: 400;
      content: "Name";
    left: 45%;
    top: 25%;

}


 .title2-contactMe::before {
  position: absolute;
  box-sizing: border-box;
  opacity: 1;
  cursor: default;
  border-radius: 25.00px;
  font-size: 28.00px;
  font-weight: 400;
  content: "Email";
left: 80%;
top: 45%;

}

 .title3-contactMe::before {
  position: absolute;
  box-sizing: border-box;
transform-origin: center;
  opacity: 1;
  cursor: default;
  border-radius: 25.00px;
  font-size: 28.00px;
  font-weight: 400;
  content: "Description";
  left: 45%;
  top: 65%;

}

.component {
      display: block;
      position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      cursor: default;
      margin: auto;
      overflow-x: unset;
      overflow-y: unset;
      background-color: transparent;
      width: 450.00px;
    height: 104.00px;

}

.component-name {
  left: 65%;
  top: 20%;

}

.component-email {
  left: 40%;
  top: 40%;
  
}

.component-description {
  left: 65%;
  top: 60%;
  
}

.component-btns {
  left: 40%;
  top: 85%;
}

.component .contact-me-input {
    position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      cursor: default;
      margin: auto;
      text-align: left;
      letter-spacing: 0.00px;
      color: rgba(112, 112, 112, 1);
      -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
      font-size: 46.00px;
      font-weight: 400;
      font-family: 'Helvetica Neue', Arial;
      text-align: center;
      border-color: rgba(112, 112, 112, 1);
      border-style: solid;
      border-width: 1.00px;
      border-radius: 25.00px;
      width: 90.00%;
    height: 90.00%;
}

.component .contact-me-btn {
  position: absolute;
    box-sizing: content-box;
  transform-origin: center;
    opacity: 1;
    cursor: default;
    margin: auto;
    text-align: left;
    letter-spacing: 0.00px;
    color: rgba(112, 112, 112, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 46.00px;
    font-weight: 400;
    font-family: 'Helvetica Neue', Arial;
    text-align: center;
    border-color: rgba(112, 112, 112, 1);
    border-style: solid;
    border-width: 1.00px;
    border-radius: 25.00px;
    width: 80.00%;
  height: 80.00%;
}

.component .contact-me-btn-ok {
  left: 0%;
  top: -25%;
}

.component .contact-me-btn-cancel {
  left: 90%;
  top: -25%;
}