 .title1-contactMe::before  {
    position: absolute;
      box-sizing: border-box;
      opacity: 1;
      cursor: default;
      border-radius: 25.00px;
      font-size: 28.00px;
      font-weight: 400;
      content: "Name";
    left: 40%;
    top: 10%;

}

 .input1-contactMe::before {
  position: absolute;
  box-sizing: content-box;
-ms-transform-origin: center;
-webkit-transform-origin: center;
transform-origin: center;
  opacity: 1;
  cursor: default;
  margin: auto;
  background-color: rgba(255, 255, 255, 0);
  text-align: left;
  letter-spacing: 0.00px;
  color: rgba(112, 112, 112, 1);
  -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
  font-size: 28.00px;
  font-weight: 400;
font-style: normal;
  font-family: 'Helvetica Neue', Arial;
  text-decoration: none;
  box-shadow: none;
  overflow-x: unset;
  overflow-y: unset;
  white-space: pre;
    left: 70%;
    top: 10%;

}

 .title2-contactMe::before {
  position: absolute;
  box-sizing: border-box;
  opacity: 1;
  cursor: default;
  border-radius: 25.00px;
  font-size: 28.00px;
  font-weight: 400;
  content: "Email";
left: 70%;
top: 35%;

}

 .input2-contactMe::before {
  position: absolute;
  box-sizing: content-box;
-ms-transform-origin: center;
-webkit-transform-origin: center;
transform-origin: center;
  opacity: 1;
  cursor: default;
  margin: auto;
  background-color: rgba(255, 255, 255, 0);
  text-align: left;
  letter-spacing: 0.00px;
  color: rgba(112, 112, 112, 1);
  -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
  font-size: 28.00px;
  font-weight: 400;
font-style: normal;
  font-family: 'Helvetica Neue', Arial;
  text-decoration: none;
  box-shadow: none;
  overflow-x: unset;
  overflow-y: unset;
  white-space: pre;
    left: 40%;
    top: 38%;

}

 .title3-contactMe::before {
  position: absolute;
  box-sizing: border-box;
transform-origin: center;
  opacity: 1;
  cursor: default;
  border-radius: 25.00px;
  font-size: 28.00px;
  font-weight: 400;
  content: "Description";
  left: 40%;
  top: 60%;

}

 .input3-contactMe::before {
  position: absolute;
  box-sizing: content-box;
-ms-transform-origin: center;
-webkit-transform-origin: center;
transform-origin: center;
  opacity: 1;
  cursor: default;
  margin: auto;
  text-align: left;
  letter-spacing: 0.00px;
  color: rgba(112, 112, 112, 1);
  -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
  font-size: 28.00px;
  font-weight: 400;
font-style: normal;
  font-family: 'Helvetica Neue', Arial;
  text-decoration: none;
  box-shadow: none;
  overflow-x: unset;
  overflow-y: unset;
  white-space: pre;
    left: 70%;
    top: 68%;

}

.component {
      display: block;
      position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      cursor: default;
      margin: auto;
      overflow-x: unset;
      overflow-y: unset;
      background-color: transparent;
      width: 450.00px;
    height: 104.00px;

}

.component-name {
  left: 60%;
  top: 5%;

}

.component-email {
  left: 35%;
  top: 30%;
  
}

.component-description {
  left: 60%;
  top: 55%;
  
}

.component .input {
    position: absolute;
      box-sizing: content-box;
    transform-origin: center;
      opacity: 1;
      cursor: default;
      margin: auto;
      text-align: left;
      letter-spacing: 0.00px;
      color: rgba(112, 112, 112, 1);
      -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
      font-size: 46.00px;
      font-weight: 400;
      font-family: 'Helvetica Neue', Arial;
      text-align: center;
      border-color: rgba(112, 112, 112, 1);
      border-style: solid;
      border-width: 1.00px;
      border-radius: 25.00px;
      width: 100.00%;
    height: 100.00%;
}
