 .image1-projects {
    position: absolute;
      box-sizing: border-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      background-image: url("../assets/x2014465.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
      opacity: 1;
      cursor: default;
      border-radius: 25.00px;
      box-shadow: none;
      width: 350.00px;
    height: 210.00px;
    left: 40%;
    top: 8%;

}

 .paragraph1-projects {
  position: absolute;
  box-sizing: content-box;
-ms-transform-origin: center;
-webkit-transform-origin: center;
transform-origin: center;
  opacity: 1;
  cursor: default;
  margin: auto;
  background-color: rgba(255, 255, 255, 0);
  text-align: left;
  letter-spacing: 0.00px;
  color: rgba(112, 112, 112, 1);
  -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
  font-size: 28.00px;
  font-weight: 400;
font-style: normal;
  font-family: 'Helvetica Neue', Arial;
  text-decoration: none;
  box-shadow: none;
  overflow-x: unset;
  overflow-y: unset;
  white-space: pre;
    left: 70%;
    top: 8%;

}

 .image2-projects {
  position: absolute;
  box-sizing: border-box;
  -ms-transform: rotate(0.00deg);
-webkit-transform: rotate(0.00deg);
transform: rotate(0.00deg);
-ms-transform-origin: center;
-webkit-transform-origin: center;
transform-origin: center;
  background-image: url("../assets/x2014465.png");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
  opacity: 1;
  cursor: default;
  border-radius: 25.00px;
  box-shadow: none;
  width: 350.00px;
height: 210.00px;
left: 70%;
top: 38%;

}

 .paragraph2-projects {
  position: absolute;
  box-sizing: content-box;
-ms-transform-origin: center;
-webkit-transform-origin: center;
transform-origin: center;
  opacity: 1;
  cursor: default;
  margin: auto;
  background-color: rgba(255, 255, 255, 0);
  text-align: left;
  letter-spacing: 0.00px;
  color: rgba(112, 112, 112, 1);
  -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
  font-size: 28.00px;
  font-weight: 400;
font-style: normal;
  font-family: 'Helvetica Neue', Arial;
  text-decoration: none;
  box-shadow: none;
  overflow-x: unset;
  overflow-y: unset;
  white-space: pre;
    left: 40%;
    top: 38%;

}

 .image3-projects {
  position: absolute;
  box-sizing: border-box;
  -ms-transform: rotate(0.00deg);
-webkit-transform: rotate(0.00deg);
transform: rotate(0.00deg);
-ms-transform-origin: center;
-webkit-transform-origin: center;
transform-origin: center;
  background-image: url("../assets/x2014465.png");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
  opacity: 1;
  cursor: default;
  border-radius: 25.00px;
  box-shadow: none;
  width: 350.00px;
height: 210.00px;
  left: 40%;
  top: 68%;

}

 .paragraph3-projects {
  position: absolute;
  box-sizing: content-box;
-ms-transform-origin: center;
-webkit-transform-origin: center;
transform-origin: center;
  opacity: 1;
  cursor: default;
  margin: auto;
  background-color: rgba(255, 255, 255, 0);
  text-align: left;
  letter-spacing: 0.00px;
  color: rgba(112, 112, 112, 1);
  -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
  font-size: 28.00px;
  font-weight: 400;
font-style: normal;
  font-family: 'Helvetica Neue', Arial;
  text-decoration: none;
  box-shadow: none;
  overflow-x: unset;
  overflow-y: unset;
  white-space: pre;
    left: 70%;
    top: 68%;

}

